body, html{
    margin:0;
    font-family: 'Lato', sans-serif;
}
.nav-main{
    width: 100%;
    background-color: #008445;
    height:70px;
    color: black;
    overflow:hidden;
}
.nav-main .logo img{
    float: left;
    height: 50px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-main a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-group {
    float: left;
    overflow: hidden;
}
  
.nav-group .nav-page {
    font-size: 16px;
    height: 40px;
    line-height: 40px; 
    border: none;
    outline: none;
    color: white;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 55px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.nav-group:hover{
    background-color: #01974e;
}

.nav-main a:hover, .nav-group:hover .navpage {
    background-color: #01974e;
  }

.nav-content {
    display: none;
    position: absolute;
    background-color: #008445;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-content a {
    float: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-content a:hover {
    background-color: #01974e;
    font-weight: 900;
}

.nav-group:hover .nav-content {
    display: block;
  }
  