<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOM Report</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename = './css/navbar-style.css') }}">
</head>

<body>
    <!-- Creating navigation bar-->
    <div class="nav-main">
        <div class="logo"><img src="https://uphinhnhanh.com/images/2018/11/21/VPBank.png" alt="VPBank.png" border="0" /></div>
        <div class="nav-group">
            <button class="nav-page">RB Overview 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="nav-content">
              <a href="/RB Overview/P&L and BS">P&L and BS</a>
              <a href="/RB Overview/This Month Update">This Month Update</a>
              <a href="/RB Overview/Forecasting">Forecasting</a>
              <a href="/RB Overview/Headcount Movement">Headcount Movement</a>
              <a href="/RB Overview/Productivity">Productivity</a>
              <a href="/RB Overview/Product Efficiency">Product Efficiency</a>
              <a href="/RB Overview/Other Indicators">Other Indicators</a>
            </div>
        </div>
        <div class="nav-group">
            <button class="nav-page">Secured Loan
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="nav-content">
              <a href="Secured Loan/Auto Loan">Auto Loan</a>
              <a href="Secured Loan/Home Loan">Home Loan</a>
              <a href="Secured Loan/Business Loan">Business Loan</a>
              <a href="Secured Loan/Consumption Loan">Consumption Loan</a>
            </div>
        </div>
        <div class="nav-group">
            <button class="nav-page">Unsecured Loan
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="nav-content">
              <a href="Unsecured Loan/UPL">UPL</a>
              <a href="Unsecured Loan/Credit Card">Credit Card</a>
            </div>
        </div>
        <div class="nav-group">
            <button class="nav-page">Deposit
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="nav-content">
              <a href="Deposit/Term Deposit">Term Deposit</a>
              <a href="Deposit/Casa">Casa</a>
            </div>
        </div>
        <div class="nav-group">
            <button class="nav-page">Affluent Banking
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="nav-content">
              <a href="Affluent Banking/P&L and BS">P&L and BS</a>
              <a href="Affluent Banking/Customer report">Customer report</a>
            </div>
        </div>
    </div>   
    <!-- end of navigation bar--> 
</body>

</html>