<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOM Report</title>
    <link rel="stylesheet" href="../static/css/navbar-style.css">
</head>

<body>
    <!-- Creating navigation bar-->
    <nav class="nav-main">
        <a href="./s"></a>
        <div class="logo">VPBank</div>
        <ul>
            <li>
                <a href="#" class="nav-item">RB Overview</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li>
                                <a href="#">P&L and BS</a>
                            </li>
                            <li>
                                <a href="#">This Month Update</a>
                            </li>
                            <li>
                                <a href="#">Forecasting</a>
                            </li>
                            <li>
                                <a href="#">Headcount Movement</a>
                            </li>
                            <li>
                                <a href="#">Productivity</a>
                            </li>
                            <li>
                                <a href="#">Product Efficiency</a>
                            </li>
                            <li>
                                <a href="#">Other Indicators</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="nav-item">Secured Loan</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li>
                                <a href="#">Auto Loan</a>
                            </li>
                            <li>
                                <a href="#">Home Loan</a>
                            </li>
                            <li>
                                <a href="#">Business Loan</a>
                            </li>
                            <li>
                                <a href="#">Consumption Loan</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="nav-item">Unsecured Loan</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li>
                                <a href="#">UPL</a>
                            </li>
                            <li>
                                <a href="#">Credit Card</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="nav-item">Deposit</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li>
                                <a href="#">Term Deposit</a>
                            </li>
                            <li>
                                <a href="/Deposit/Casa">Casa</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" class="nav-item">Affluent Banking</a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <li>
                                <a href="#">P&L and BS</a>
                            </li>
                            <li>
                                <a href="#">Customer Report</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>




</body>

</html>